<!DOCTYPE html>
<html>
<head>
  <title>Liste des recettes</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <style>
    .tooltip {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #fff;
      border: 1px solid #ccc;
      padding: 10px;
      display: none;
    }

    .tooltip-close {
      text-align: right;
      margin-bottom: 5px;
    }
  </style>
</head>
<body>
  <h1>Liste des recettes</h1>

  <div id="app">
    <input type="text" v-model="searchTerm" placeholder="Rechercher par nom">
    <button @click="search">Rechercher</button>

    <table>
      <thead>
        <tr>
          <th>Nom de la recette</th>
          <!-- <th>Ingrédients</th> -->
          <th>Actions</th> <!-- Nouvelle colonne pour les boutons -->
        </tr>
      </thead>
      <tbody>
        <tr v-for="recette in filteredRecettes" :key="recette.recette_nom">
          <td>{{ recette.recette_nom }}</td>
          <!-- <td>{{ recette.ingredients }}</td> -->
          <td>
            <button @click="showTooltip(recette)">Voir</button>
            <button @click="editRecette(recette)">Modifier</button> <!-- Bouton de modification -->
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Bulle d'information -->
    <div class="tooltip" v-if="selectedRecette">
      <div class="tooltip-close">
        <button @click="closeTooltip">Fermer</button>
      </div>
      <h3>{{ selectedRecette.recette_nom }}</h3>
      <p>Ingrédients :</p>
      <ul>
        <li v-for="ingredient in selectedRecette.ingredients" :key="ingredient">{{ ingredient }}</li>
      </ul>
    </div>
  </div>

  <script>
    new Vue({
      el: '#app',
      data: {
        recettes: <%= @recettes.to_json.html_safe %>,
        searchTerm: '',
        selectedRecette: null,
      },
      computed: {
        filteredRecettes() {
          return this.recettes.filter((recette) => {
            return recette.recette_nom.toLowerCase().includes(this.searchTerm.toLowerCase());
          });
        },
      },
      methods: {
        search() {
          this.searchTerm = '';
        },
        showTooltip(recette) {
          this.selectedRecette = recette;
          const tooltip = document.querySelector('.tooltip');
          tooltip.style.display = 'block';
        },
        closeTooltip() {
          this.selectedRecette = null;
          const tooltip = document.querySelector('.tooltip');
          tooltip.style.display = 'none';
        },
        editRecette(recette) {
          window.location.href = '/accueil/' + encodeURIComponent(recette.recette_nom) + '/edit';
        },
      },
    });
  </script>
</body>
</html>
